/stingmetgyakorlás/nbproject/private/
/stingmetgyakorlás/build/
/rendszaminput/nbproject/private/
/metodusok/nbproject/private/
/metodusok/build/
/rendszaminput/build/
/xyz/nbproject/private/
/XYZ/nbproject/private/
/NOPProject/nbproject/private/
